<?xml version='1.0' encoding='UTF-8'?>
<Database xmlns="http//datadirect.com/cloud/config" version="1">
	<User name="SAITEJA09" defaultSchema="SFORCE">
		<UseSchema name="SFORCE"/>
		<UseSchema name="PUBLIC"/>
	</User>
	<Schema name="SFORCE" type="Salesforce">
		<ConfigOptions>uppercaseidentifiers=true;localtables=0;keywordconflictsuffix=;auditcolumns=none;customsuffix=strip;mapsystemcolumnnames=1;numberfieldmapping=emulateinteger;multiselectpicklistlength=4000</ConfigOptions>
		<SessionOptions>loginhost=login.salesforce.com;userid=saiteja09@gmail.com</SessionOptions>
	</Schema>
	<Schema name="PUBLIC" type="local"/>
</Database>